In [0]:
%sql
create database if not exists mydb

In [0]:
%sql


create table mydb.employee
( emp_ID int
, emp_NAME varchar(50)
, DEPT_NAME varchar(50)
, SALARY int);

In [0]:
%sql



insert into mydb.employee values(101, 'Mohan', 'Admin', 4000);
insert into mydb.employee values(102, 'Rajkumar', 'HR', 3000);
insert into mydb.employee values(103, 'Akbar', 'IT', 4000);
insert into mydb.employee values(104, 'Dorvin', 'Finance', 6500);
insert into mydb.employee values(105, 'Rohit', 'HR', 3000);
insert into mydb.employee values(106, 'Rajesh',  'Finance', 5000);
insert into mydb.employee values(107, 'Preet', 'HR', 7000);
insert into mydb.employee values(108, 'Maryam', 'Admin', 4000);
insert into mydb.employee values(109, 'Sanjay', 'IT', 6500);
insert into mydb.employee values(110, 'Vasudha', 'IT', 7000);
insert into mydb.employee values(111, 'Melinda', 'IT', 8000);
insert into mydb.employee values(112, 'Komal', 'IT', 10000);
insert into mydb.employee values(113, 'Gautham', 'Admin', 2000);
insert into mydb.employee values(114, 'Manisha', 'HR', 3000);
insert into mydb.employee values(115, 'Chandni', 'IT', 4500);
insert into mydb.employee values(116, 'Satya', 'Finance', 6500);
insert into mydb.employee values(117, 'Adarsh', 'HR', 3500);
insert into mydb.employee values(118, 'Tejaswi', 'Finance', 5500);
insert into mydb.employee values(119, 'Cory', 'HR', 8000);
insert into mydb.employee values(120, 'Monica', 'Admin', 5000);
insert into mydb.employee values(121, 'Rosalin', 'IT', 6000);
insert into mydb.employee values(122, 'Ibrahim', 'IT', 8000);
insert into mydb.employee values(123, 'Vikram', 'IT', 8000);
insert into mydb.employee values(124, 'Dheeraj', 'IT', 11000);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql

select e.*,
max(salary) over() as max_salary
from mydb.employee e;

emp_ID,emp_NAME,DEPT_NAME,SALARY,max_salary
118,Tejaswi,Finance,5500,11000
104,Dorvin,Finance,6500,11000
106,Rajesh,Finance,5000,11000
113,Gautham,Admin,2000,11000
116,Satya,Finance,6500,11000
108,Maryam,Admin,4000,11000
120,Monica,Admin,5000,11000
101,Mohan,Admin,4000,11000
102,Rajkumar,HR,3000,11000
114,Manisha,HR,3000,11000
111,Melinda,IT,8000,11000
115,Chandni,IT,4500,11000
121,Rosalin,IT,6000,11000
122,Ibrahim,IT,8000,11000
124,Dheeraj,IT,11000,11000
110,Vasudha,IT,7000,11000
117,Adarsh,HR,3500,11000
109,Sanjay,IT,6500,11000
123,Vikram,IT,8000,11000
105,Rohit,HR,3000,11000
103,Akbar,IT,4000,11000
112,Komal,IT,10000,11000
107,Preet,HR,7000,11000
119,Cory,HR,8000,11000

In [0]:
%sql

select e.*,
max(salary) over(partition by dept_name) as max_salary
from employee e;

emp_ID,emp_NAME,DEPT_NAME,SALARY,max_salary
113,Gautham,Admin,2000,5000
108,Maryam,Admin,4000,5000
120,Monica,Admin,5000,5000
101,Mohan,Admin,4000,5000
118,Tejaswi,Finance,5500,6500
104,Dorvin,Finance,6500,6500
106,Rajesh,Finance,5000,6500
116,Satya,Finance,6500,6500
102,Rajkumar,HR,3000,8000
114,Manisha,HR,3000,8000
117,Adarsh,HR,3500,8000
105,Rohit,HR,3000,8000
107,Preet,HR,7000,8000
119,Cory,HR,8000,8000
111,Melinda,IT,8000,11000
115,Chandni,IT,4500,11000
121,Rosalin,IT,6000,11000
122,Ibrahim,IT,8000,11000
124,Dheeraj,IT,11000,11000
110,Vasudha,IT,7000,11000
109,Sanjay,IT,6500,11000
123,Vikram,IT,8000,11000
103,Akbar,IT,4000,11000
112,Komal,IT,10000,11000

In [0]:
%sql
-- Fetch the first 2 employees from each department to join the company.
select * from
(
  select e.*,
  row_number() over(partition by dept_name order by emp_id) as rn
  from employee e ) x
 where x.rn<3

emp_ID,emp_NAME,DEPT_NAME,SALARY,rn
101,Mohan,Admin,4000,1
108,Maryam,Admin,4000,2
104,Dorvin,Finance,6500,1
106,Rajesh,Finance,5000,2
102,Rajkumar,HR,3000,1
105,Rohit,HR,3000,2
103,Akbar,IT,4000,1
109,Sanjay,IT,6500,2

In [0]:
%sql
-- Fetch the top 3 employees in each department earning the max salary.
select *
from
(select e.*,
  rank() over(partition by dept_name order by salary desc) as rnk
  from employee e ) x
where x.rnk<4

emp_ID,emp_NAME,DEPT_NAME,SALARY,rnk
120,Monica,Admin,5000,1
108,Maryam,Admin,4000,2
101,Mohan,Admin,4000,2
104,Dorvin,Finance,6500,1
116,Satya,Finance,6500,1
118,Tejaswi,Finance,5500,3
119,Cory,HR,8000,1
107,Preet,HR,7000,2
117,Adarsh,HR,3500,3
124,Dheeraj,IT,11000,1
112,Komal,IT,10000,2
111,Melinda,IT,8000,3
122,Ibrahim,IT,8000,3
123,Vikram,IT,8000,3

In [0]:
%sql

select e.*,
  rank() over(partition by dept_name order by salary desc) as rnk,
  dense_rank() over(partition by dept_name order by salary desc) as Dens_rnk,
  row_number() over(partition by dept_name order by salary desc) as rn
  
  from employee e

emp_ID,emp_NAME,DEPT_NAME,SALARY,rnk,Dens_rnk,rn
120,Monica,Admin,5000,1,1,1
108,Maryam,Admin,4000,2,2,2
101,Mohan,Admin,4000,2,2,3
113,Gautham,Admin,2000,4,3,4
104,Dorvin,Finance,6500,1,1,1
116,Satya,Finance,6500,1,1,2
118,Tejaswi,Finance,5500,3,2,3
106,Rajesh,Finance,5000,4,3,4
119,Cory,HR,8000,1,1,1
107,Preet,HR,7000,2,2,2
117,Adarsh,HR,3500,3,3,3
102,Rajkumar,HR,3000,4,4,4
114,Manisha,HR,3000,4,4,5
105,Rohit,HR,3000,4,4,6
124,Dheeraj,IT,11000,1,1,1
112,Komal,IT,10000,2,2,2
111,Melinda,IT,8000,3,3,3
122,Ibrahim,IT,8000,3,3,4
123,Vikram,IT,8000,3,3,5
110,Vasudha,IT,7000,6,4,6
109,Sanjay,IT,6500,7,5,7
121,Rosalin,IT,6000,8,6,8
115,Chandni,IT,4500,9,7,9
103,Akbar,IT,4000,10,8,10

In [0]:
%sql
-- lag() 

select e.*,
  lag(salary,2,0) over(partition by dept_name order by emp_id ) as prvs_emp_salary
  --lead(salary) over(partition by dept_name order by emp_id ) as next_emp_salary
  from mydb.employee e

emp_ID,emp_NAME,DEPT_NAME,SALARY,prvs_emp_salary
101,Mohan,Admin,4000,0
108,Maryam,Admin,4000,0
113,Gautham,Admin,2000,4000
120,Monica,Admin,5000,4000
104,Dorvin,Finance,6500,0
106,Rajesh,Finance,5000,0
116,Satya,Finance,6500,6500
118,Tejaswi,Finance,5500,5000
102,Rajkumar,HR,3000,0
105,Rohit,HR,3000,0
107,Preet,HR,7000,3000
114,Manisha,HR,3000,3000
117,Adarsh,HR,3500,7000
119,Cory,HR,8000,3000
103,Akbar,IT,4000,0
109,Sanjay,IT,6500,0
110,Vasudha,IT,7000,4000
111,Melinda,IT,8000,6500
112,Komal,IT,10000,7000
115,Chandni,IT,4500,8000
121,Rosalin,IT,6000,10000
122,Ibrahim,IT,8000,4500
123,Vikram,IT,8000,6000
124,Dheeraj,IT,11000,8000

In [0]:
%sql
----lead()

select e.*,
  ---lag(salary,2,0) over(partition by dept_name order by emp_id ) as prvs_emp_salary
  lead(salary) over(partition by dept_name order by emp_id ) as next_emp_salary
  from mydb.employee e

emp_ID,emp_NAME,DEPT_NAME,SALARY,next_emp_salary
101,Mohan,Admin,4000,4000
108,Maryam,Admin,4000,2000
113,Gautham,Admin,2000,5000
120,Monica,Admin,5000,null
104,Dorvin,Finance,6500,5000
106,Rajesh,Finance,5000,6500
116,Satya,Finance,6500,5500
118,Tejaswi,Finance,5500,null
102,Rajkumar,HR,3000,3000
105,Rohit,HR,3000,7000
107,Preet,HR,7000,3000
114,Manisha,HR,3000,3500
117,Adarsh,HR,3500,8000
119,Cory,HR,8000,null
103,Akbar,IT,4000,6500
109,Sanjay,IT,6500,7000
110,Vasudha,IT,7000,8000
111,Melinda,IT,8000,10000
112,Komal,IT,10000,4500
115,Chandni,IT,4500,6000
121,Rosalin,IT,6000,8000
122,Ibrahim,IT,8000,8000
123,Vikram,IT,8000,11000
124,Dheeraj,IT,11000,null

In [0]:
%sql
----fetch a query to display if the salary of an employee is higher, lower or equal to the previous employee.
select e.*,
lag(salary) over(partition by dept_name order by emp_id ) as prev_emp_salary,
 case 
  when e.salary > lag(salary) over(partition by dept_name order by emp_id ) then 'Higher than previous emploee'
  when e.salary < lag(salary) over(partition by dept_name order by emp_id ) then 'Lower than previous emploee'
  when e.salary = lag(salary) over(partition by dept_name order by emp_id ) then 'Equal than previous emploee'
  end sal_range
  from mydb.employee e

emp_ID,emp_NAME,DEPT_NAME,SALARY,prev_emp_salary,sal_range
101,Mohan,Admin,4000,null,null
108,Maryam,Admin,4000,4000,Equal than previous emploee
113,Gautham,Admin,2000,4000,Lower than previous emploee
120,Monica,Admin,5000,2000,Higher than previous emploee
104,Dorvin,Finance,6500,null,null
106,Rajesh,Finance,5000,6500,Lower than previous emploee
116,Satya,Finance,6500,5000,Higher than previous emploee
118,Tejaswi,Finance,5500,6500,Lower than previous emploee
102,Rajkumar,HR,3000,null,null
105,Rohit,HR,3000,3000,Equal than previous emploee
107,Preet,HR,7000,3000,Higher than previous emploee
114,Manisha,HR,3000,7000,Lower than previous emploee
117,Adarsh,HR,3500,3000,Higher than previous emploee
119,Cory,HR,8000,3500,Higher than previous emploee
103,Akbar,IT,4000,null,null
109,Sanjay,IT,6500,4000,Higher than previous emploee
110,Vasudha,IT,7000,6500,Higher than previous emploee
111,Melinda,IT,8000,7000,Higher than previous emploee
112,Komal,IT,10000,8000,Higher than previous emploee
115,Chandni,IT,4500,10000,Lower than previous emploee
121,Rosalin,IT,6000,4500,Higher than previous emploee
122,Ibrahim,IT,8000,6000,Higher than previous emploee
123,Vikram,IT,8000,8000,Equal than previous emploee
124,Dheeraj,IT,11000,8000,Higher than previous emploee

In [0]:
%sql

CREATE TABLE mydb.product
( 
    product_category varchar(255),
    brand varchar(255),
    product_name varchar(255),
    price int
)

In [0]:
%sql
INSERT INTO mydb.product VALUES
('Phone', 'Apple', 'iPhone 12 Pro Max', 1300),
('Phone', 'Apple', 'iPhone 12 Pro', 1100),
('Phone', 'Apple', 'iPhone 12', 1000),
('Phone', 'Samsung', 'Galaxy Z Fold 3', 1800),
('Phone', 'Samsung', 'Galaxy Z Flip 3', 1000),
('Phone', 'Samsung', 'Galaxy Note 20', 1200),
('Phone', 'Samsung', 'Galaxy S21', 1000),
('Phone', 'OnePlus', 'OnePlus Nord', 300),
('Phone', 'OnePlus', 'OnePlus 9', 800),
('Phone', 'Google', 'Pixel 5', 600),
('Laptop', 'Apple', 'MacBook Pro 13', 2000),
('Laptop', 'Apple', 'MacBook Air', 1200),
('Laptop', 'Microsoft', 'Surface Laptop 4', 2100),
('Laptop', 'Dell', 'XPS 13', 2000),
('Laptop', 'Dell', 'XPS 15', 2300),
('Laptop', 'Dell', 'XPS 17', 2500),
('Earphone', 'Apple', 'AirPods Pro', 280),
('Earphone', 'Samsung', 'Galaxy Buds Pro', 220),
('Earphone', 'Samsung', 'Galaxy Buds Live', 170),
('Earphone', 'Sony', 'WF-1000XM4', 250),
('Headphone', 'Sony', 'WH-1000XM4', 400),
('Headphone', 'Apple', 'AirPods Max', 550),
('Headphone', 'Microsoft', 'Surface Headphones 2', 250),
('Smartwatch', 'Apple', 'Apple Watch Series 6', 1000),
('Smartwatch', 'Apple', 'Apple Watch SE', 400),
('Smartwatch', 'Samsung', 'Galaxy Watch 4', 600),
('Smartwatch', 'OnePlus', 'OnePlus Watch', 220);

num_affected_rows,num_inserted_rows
27,27

In [0]:
%sql
select *,
first_value(product_name) over(partition by product_category order by price desc) as most_expn_product
from mydb.product

product_category,brand,product_name,price,most_expn_product
Earphone,Apple,AirPods Pro,280,AirPods Pro
Earphone,Sony,WF-1000XM4,250,AirPods Pro
Earphone,Samsung,Galaxy Buds Pro,220,AirPods Pro
Earphone,Samsung,Galaxy Buds Live,170,AirPods Pro
Headphone,Apple,AirPods Max,550,AirPods Max
Headphone,Sony,WH-1000XM4,400,AirPods Max
Headphone,Microsoft,Surface Headphones 2,250,AirPods Max
Laptop,Dell,XPS 17,2500,XPS 17
Laptop,Dell,XPS 15,2300,XPS 17
Laptop,Microsoft,Surface Laptop 4,2100,XPS 17
Laptop,Apple,MacBook Pro 13,2000,XPS 17
Laptop,Dell,XPS 13,2000,XPS 17
Laptop,Apple,MacBook Air,1200,XPS 17
Phone,Samsung,Galaxy Z Fold 3,1800,Galaxy Z Fold 3
Phone,Apple,iPhone 12 Pro Max,1300,Galaxy Z Fold 3
Phone,Samsung,Galaxy Note 20,1200,Galaxy Z Fold 3
Phone,Apple,iPhone 12 Pro,1100,Galaxy Z Fold 3
Phone,Samsung,Galaxy Z Flip 3,1000,Galaxy Z Fold 3
Phone,Apple,iPhone 12,1000,Galaxy Z Fold 3
Phone,Samsung,Galaxy S21,1000,Galaxy Z Fold 3
Phone,OnePlus,OnePlus 9,800,Galaxy Z Fold 3
Phone,Google,Pixel 5,600,Galaxy Z Fold 3
Phone,OnePlus,OnePlus Nord,300,Galaxy Z Fold 3
Smartwatch,Apple,Apple Watch Series 6,1000,Apple Watch Series 6
Smartwatch,Samsung,Galaxy Watch 4,600,Apple Watch Series 6
Smartwatch,Apple,Apple Watch SE,400,Apple Watch Series 6
Smartwatch,OnePlus,OnePlus Watch,220,Apple Watch Series 6

In [0]:
%sql
--- range between unbounded preceding and current row        default frame clause

select *,
first_value(product_name) 
  over(partition by product_category order by price desc) 
    as most_expn_product,
last_value(product_name) 
  over(partition by product_category order by price desc
       row between unbounded preceding and unbounded following) ----- this is bcz it should take all in a partition
    as least_expn_product
from mydb.product

product_category,brand,product_name,price,most_expn_product,least_expn_product
Earphone,Apple,AirPods Pro,280,AirPods Pro,Galaxy Buds Live
Earphone,Sony,WF-1000XM4,250,AirPods Pro,Galaxy Buds Live
Earphone,Samsung,Galaxy Buds Pro,220,AirPods Pro,Galaxy Buds Live
Earphone,Samsung,Galaxy Buds Live,170,AirPods Pro,Galaxy Buds Live
Headphone,Apple,AirPods Max,550,AirPods Max,Surface Headphones 2
Headphone,Sony,WH-1000XM4,400,AirPods Max,Surface Headphones 2
Headphone,Microsoft,Surface Headphones 2,250,AirPods Max,Surface Headphones 2
Laptop,Dell,XPS 17,2500,XPS 17,MacBook Air
Laptop,Dell,XPS 15,2300,XPS 17,MacBook Air
Laptop,Microsoft,Surface Laptop 4,2100,XPS 17,MacBook Air
Laptop,Apple,MacBook Pro 13,2000,XPS 17,MacBook Air
Laptop,Dell,XPS 13,2000,XPS 17,MacBook Air
Laptop,Apple,MacBook Air,1200,XPS 17,MacBook Air
Phone,Samsung,Galaxy Z Fold 3,1800,Galaxy Z Fold 3,OnePlus Nord
Phone,Apple,iPhone 12 Pro Max,1300,Galaxy Z Fold 3,OnePlus Nord
Phone,Samsung,Galaxy Note 20,1200,Galaxy Z Fold 3,OnePlus Nord
Phone,Apple,iPhone 12 Pro,1100,Galaxy Z Fold 3,OnePlus Nord
Phone,Samsung,Galaxy Z Flip 3,1000,Galaxy Z Fold 3,OnePlus Nord
Phone,Apple,iPhone 12,1000,Galaxy Z Fold 3,OnePlus Nord
Phone,Samsung,Galaxy S21,1000,Galaxy Z Fold 3,OnePlus Nord
Phone,OnePlus,OnePlus 9,800,Galaxy Z Fold 3,OnePlus Nord
Phone,Google,Pixel 5,600,Galaxy Z Fold 3,OnePlus Nord
Phone,OnePlus,OnePlus Nord,300,Galaxy Z Fold 3,OnePlus Nord
Smartwatch,Apple,Apple Watch Series 6,1000,Apple Watch Series 6,OnePlus Watch
Smartwatch,Samsung,Galaxy Watch 4,600,Apple Watch Series 6,OnePlus Watch
Smartwatch,Apple,Apple Watch SE,400,Apple Watch Series 6,OnePlus Watch
Smartwatch,OnePlus,OnePlus Watch,220,Apple Watch Series 6,OnePlus Watch

In [0]:
%sql
select *,
first_value(product_name) over w as most_exp_product,
last_value(product_name) over w as least_exp_product    
from mydb.product
WHERE product_category ='Phone'
window w as (partition by product_category order by price desc
            range between unbounded preceding and unbounded following);

product_category,brand,product_name,price,most_exp_product,least_exp_product
Phone,Samsung,Galaxy Z Fold 3,1800,Galaxy Z Fold 3,OnePlus Nord
Phone,Apple,iPhone 12 Pro Max,1300,Galaxy Z Fold 3,OnePlus Nord
Phone,Samsung,Galaxy Note 20,1200,Galaxy Z Fold 3,OnePlus Nord
Phone,Apple,iPhone 12 Pro,1100,Galaxy Z Fold 3,OnePlus Nord
Phone,Samsung,Galaxy Z Flip 3,1000,Galaxy Z Fold 3,OnePlus Nord
Phone,Apple,iPhone 12,1000,Galaxy Z Fold 3,OnePlus Nord
Phone,Samsung,Galaxy S21,1000,Galaxy Z Fold 3,OnePlus Nord
Phone,OnePlus,OnePlus 9,800,Galaxy Z Fold 3,OnePlus Nord
Phone,Google,Pixel 5,600,Galaxy Z Fold 3,OnePlus Nord
Phone,OnePlus,OnePlus Nord,300,Galaxy Z Fold 3,OnePlus Nord

In [0]:
%sql

-- Script to create the Product table and load data into it.

DROP TABLE product;
CREATE TABLE product
( 
    product_category varchar(255),
    brand varchar(255),
    product_name varchar(255),
    price int
);

INSERT INTO product VALUES
('Phone', 'Apple', 'iPhone 12 Pro Max', 1300),
('Phone', 'Apple', 'iPhone 12 Pro', 1100),
('Phone', 'Apple', 'iPhone 12', 1000),
('Phone', 'Samsung', 'Galaxy Z Fold 3', 1800),
('Phone', 'Samsung', 'Galaxy Z Flip 3', 1000),
('Phone', 'Samsung', 'Galaxy Note 20', 1200),
('Phone', 'Samsung', 'Galaxy S21', 1000),
('Phone', 'OnePlus', 'OnePlus Nord', 300),
('Phone', 'OnePlus', 'OnePlus 9', 800),
('Phone', 'Google', 'Pixel 5', 600),
('Laptop', 'Apple', 'MacBook Pro 13', 2000),
('Laptop', 'Apple', 'MacBook Air', 1200),
('Laptop', 'Microsoft', 'Surface Laptop 4', 2100),
('Laptop', 'Dell', 'XPS 13', 2000),
('Laptop', 'Dell', 'XPS 15', 2300),
('Laptop', 'Dell', 'XPS 17', 2500),
('Earphone', 'Apple', 'AirPods Pro', 280),
('Earphone', 'Samsung', 'Galaxy Buds Pro', 220),
('Earphone', 'Samsung', 'Galaxy Buds Live', 170),
('Earphone', 'Sony', 'WF-1000XM4', 250),
('Headphone', 'Sony', 'WH-1000XM4', 400),
('Headphone', 'Apple', 'AirPods Max', 550),
('Headphone', 'Microsoft', 'Surface Headphones 2', 250),
('Smartwatch', 'Apple', 'Apple Watch Series 6', 1000),
('Smartwatch', 'Apple', 'Apple Watch SE', 400),
('Smartwatch', 'Samsung', 'Galaxy Watch 4', 600),
('Smartwatch', 'OnePlus', 'OnePlus Watch', 220);
COMMIT;




-- All the SQL Queries written during the video

select * from product;


-- FIRST_VALUE 
-- Write query to display the most expensive product under each category (corresponding to each record)
select *,
first_value(product_name) over(partition by product_category order by price desc) as most_exp_product
from product;



-- LAST_VALUE 
-- Write query to display the least expensive product under each category (corresponding to each record)
select *,
first_value(product_name) 
    over(partition by product_category order by price desc) 
    as most_exp_product,
last_value(product_name) 
    over(partition by product_category order by price desc
        range between unbounded preceding and unbounded following) 
    as least_exp_product    
from product
WHERE product_category ='Phone';



-- Alternate way to write SQL query using Window functions
select *,
first_value(product_name) over w as most_exp_product,
last_value(product_name) over w as least_exp_product    
from product
WHERE product_category ='Phone'
window w as (partition by product_category order by price desc
            range between unbounded preceding and unbounded following);
            

            
-- NTH_VALUE 
-- Write query to display the Second most expensive product under each category.
select *,
first_value(product_name) over w as most_exp_product,
last_value(product_name) over w as least_exp_product,
nth_value(product_name, 5) over w as second_most_exp_product
from product
window w as (partition by product_category order by price desc
            range between unbounded preceding and unbounded following);



-- NTILE
-- Write a query to segregate all the expensive phones, mid range phones and the cheaper phones.
select x.product_name, 
case when x.buckets = 1 then 'Expensive Phones'
     when x.buckets = 2 then 'Mid Range Phones'
     when x.buckets = 3 then 'Cheaper Phones' END as Phone_Category
from (
    select *,
    ntile(3) over (order by price desc) as buckets
    from product
    where product_category = 'Phone') x;




-- CUME_DIST (cumulative distribution) ; 
/*  Formula = Current Row no (or Row No with value same as current row) / Total no of rows */

-- Query to fetch all products which are constituting the first 30% 
-- of the data in products table based on price.
select product_name, cume_dist_percetage
from (
    select *,
    cume_dist() over (order by price desc) as cume_distribution,
    round(cume_dist() over (order by price desc)::numeric * 100,2)||'%' as cume_dist_percetage
    from product) x
where x.cume_distribution <= 0.3;




-- PERCENT_RANK (relative rank of the current row / Percentage Ranking)
/* Formula = Current Row No - 1 / Total no of rows - 1 */

-- Query to identify how much percentage more expensive is "Galaxy Z Fold 3" when compared to all products.
select product_name, per
from (
    select *,
    percent_rank() over(order by price) ,
    round(percent_rank() over(order by price)::numeric * 100, 2) as per
    from product) x
where x.product_name='Galaxy Z Fold 3';

In [0]:
%sql



drop table employee;
create table employee
( emp_ID int
, emp_NAME varchar(50)
, DEPT_NAME varchar(50)
, SALARY int);

insert into employee values(101, 'Mohan', 'Admin', 4000);
insert into employee values(102, 'Rajkumar', 'HR', 3000);
insert into employee values(103, 'Akbar', 'IT', 4000);
insert into employee values(104, 'Dorvin', 'Finance', 6500);
insert into employee values(105, 'Rohit', 'HR', 3000);
insert into employee values(106, 'Rajesh',  'Finance', 5000);
insert into employee values(107, 'Preet', 'HR', 7000);
insert into employee values(108, 'Maryam', 'Admin', 4000);
insert into employee values(109, 'Sanjay', 'IT', 6500);
insert into employee values(110, 'Vasudha', 'IT', 7000);
insert into employee values(111, 'Melinda', 'IT', 8000);
insert into employee values(112, 'Komal', 'IT', 10000);
insert into employee values(113, 'Gautham', 'Admin', 2000);
insert into employee values(114, 'Manisha', 'HR', 3000);
insert into employee values(115, 'Chandni', 'IT', 4500);
insert into employee values(116, 'Satya', 'Finance', 6500);
insert into employee values(117, 'Adarsh', 'HR', 3500);
insert into employee values(118, 'Tejaswi', 'Finance', 5500);
insert into employee values(119, 'Cory', 'HR', 8000);
insert into employee values(120, 'Monica', 'Admin', 5000);
insert into employee values(121, 'Rosalin', 'IT', 6000);
insert into employee values(122, 'Ibrahim', 'IT', 8000);
insert into employee values(123, 'Vikram', 'IT', 8000);
insert into employee values(124, 'Dheeraj', 'IT', 11000);
COMMIT;


/* **************
   Video Summary
 ************** */

select * from employee;

-- Using Aggregate function as Window Function
-- Without window function, SQL will reduce the no of records.
select dept_name, max(salary) from employee
group by dept_name;

-- By using MAX as an window function, SQL will not reduce records but the result will be shown corresponding to each record.
select e.*,
max(salary) over(partition by dept_name) as max_salary
from employee e;


-- row_number(), rank() and dense_rank()
select e.*,
row_number() over(partition by dept_name) as rn
from employee e;


-- Fetch the first 2 employees from each department to join the company.
select * from (
	select e.*,
	row_number() over(partition by dept_name order by emp_id) as rn
	from employee e) x
where x.rn < 3;


-- Fetch the top 3 employees in each department earning the max salary.
select * from (
	select e.*,
	rank() over(partition by dept_name order by salary desc) as rnk
	from employee e) x
where x.rnk < 4;


-- Checking the different between rank, dense_rnk and row_number window functions:
select e.*,
rank() over(partition by dept_name order by salary desc) as rnk,
dense_rank() over(partition by dept_name order by salary desc) as dense_rnk,
row_number() over(partition by dept_name order by salary desc) as rn
from employee e;



-- lead and lag

-- fetch a query to display if the salary of an employee is higher, lower or equal to the previous employee.
select e.*,
lag(salary) over(partition by dept_name order by emp_id) as prev_empl_sal,
case when e.salary > lag(salary) over(partition by dept_name order by emp_id) then 'Higher than previous employee'
     when e.salary < lag(salary) over(partition by dept_name order by emp_id) then 'Lower than previous employee'
	 when e.salary = lag(salary) over(partition by dept_name order by emp_id) then 'Same than previous employee' end as sal_range
from employee e;

-- Similarly using lead function to see how it is different from lag.
select e.*,
lag(salary) over(partition by dept_name order by emp_id) as prev_empl_sal,
lead(salary) over(partition by dept_name order by emp_id) as next_empl_sal
from employee e;